# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env

# Log files
*.log

# OS-specific
*.swp

*.bat
*.vbs
